
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 0;
    margin-top: auto;
}

.section-1 {
    margin-bottom: 10px;
}

/* Job list page */

.job-list-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-size: 300%;
    background-image: linear-gradient(
            -45deg, cyan 0%, blue 25%, purple 50%, red 100%
    );
    animation: animateBG 20s ease infinite;
}

.job-list-title {
    color: white;
    margin: auto;
}

.job-detail {
    display: flex;
    align-items: center;
    color: #222c;
}

.job-detail-values {
    margin: 0px 5px;
}

.load-more-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.load-more-btn {
    background: none;
    border: none;
    color: var(--background-color);
}

.job-title-link {
    color: var(--background-color);
    text-decoration: none;
}

/* job page */
.jvm-jobs-details-card-profile-img {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    border-radius:50%;
    overflow: hidden;
    border: 2px solid var(--background-color);
}

.jvm-jobs-details-card-profile-title .job-detail {
    color: white;
}

.jvm-jobs-details-card-profile-title .job-detail-icon {
    color: var(--background-color);
}

.container-fluid {
    padding: 0px;
}

.home-logo {
    width: 100px;
    height: 100px
}

.markdown-body {
    font-family: Montserrat;
    box-sizing: border-box;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
    .logo {
        min-height: 0px !important;
        height: 0px !important;
    }
}

.jvm-jobs-details-top-card {
    color: white;
}

/* Form page */

.logo {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 57px); /* viewport - header height. */
}

.logo img {
    margin: auto;
}

.logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    justify-content: center;
    background-size: 300%;
    background-image: linear-gradient(
        -45deg, cyan 0%, blue 25%, purple 50%, red 100%
    );
    animation: animateBG 20s ease infinite;
}

.auth-link {
    display: block;
    margin: 20px 0;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-submit-btn {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}


.page-status-errors {
    border: solid 1px red;
    padding: 10px;
    color: red;
    border-radius: 10px;
    margin: 10px;
}

.page-status-success {
    border: solid 1px green;
    padding: 10px;
    color: green;
    border-radius: 5px;
    margin: 10px;
}

.job {
    padding: 12px;
}

.job label {
    font-size: 18px;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: var(--background-color);
}

@keyframes animateBG {
    0% {
       background-position: 0% 50%;
    }
    50% {
       background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
